 panda is a python library.

panda is used to analyse data

### pandas installation

In [2]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (1.18.5)

##### load a CSV file into pandas data frame

In [44]:
import pandas as pd
df=pd.read_csv('C:\\Users\\HP\\Desktop\\python_pandas introduction.csv')
myvar=pd.DataFrame(df)
print(myvar)

            Basics       Cleaning data       Advancd
0     Introduction       Cleaning data  correlations
1  Getting started   Clean empty cells      Plotting
2    Pandas series  Clean Wrong Format           NaN
3      Data frames    Clean Wrong Data           NaN
4         Read CSV   Removr Duplicates           NaN
5        Read JSON                 NaN           NaN
6     Analyse DATA                 NaN           NaN

#### 1StEXAMPLE

In [35]:
import pandas
mydataset={
    'cars' : ['BMW','Volvo','Ford'],'passengers':[1,2,3]}
myvar=pandas.DataFrame(mydataset)

print(myvar)

    cars  passengers
0    BMW           1
1  Volvo           2
2   Ford           3

In [32]:
import pandas 
mudataset={
    'cars':['bmw','vovlvo','bjkf'],'passengers': [1,2,3]
}
myvar=pandas.DataFrame(myvar)
print(myvar)

    cars  passengers
0    BMW           1
1  Volvo           2
2   Ford           3

In [37]:
# second example
import pandas
mydataset={'ID':[101,102,103,104,105],'NAMES':['pavan','jack','mack','krish','jose'],'salarry':[1000,10001,10002,10002,1000223]}
myvar=pandas.DataFrame(mydataset)
print(myvar)

    ID  NAMES  salarry
0  101  pavan     1000
1  102   jack    10001
2  103   mack    10002
3  104  krish    10002
4  105   jose  1000223

#### pandas as pd

In [48]:
import pandas as pd
mydataset={'cars': ['bmw','audi','jaguar','rolls roys'], 'cost of cars':[1,2,3,4]}
myvar=pd.DataFrame(mydataset)
print(myvar)

         cars  cost of cars
0         bmw             1
1        audi             2
2      jaguar             3
3  rolls roys             4

####  CHECKING PANDAS VERSION

In [43]:
import pandas as pd
print(pd.__version__)

1.0.5

#####  PANDAS SERIES

In [46]:
import pandas as pd
a=[1,2,3]
myvar=pd.Series(a)
print(myvar)

0    1
1    2
2    3
dtype: int64

In [61]:
import pandas as pd 
list=['a','b','c','d','f']
myvar=pd.Series(list)
print(myvar)

import pandas as pd
a=[1,2,3,4,5,6]
myvar=pd.Series(a)
print(myvar)
print(myvar[0])
print(myvar[1])
print(myvar[5])

0    a
1    b
2    c
3    d
4    f
dtype: object
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
1
2
6

### create lables

In [71]:
import pandas as pd
list=[1,2,3]
myvar=pd.Series(list,index=['x','y','z'])
print(myvar)

import pandas as pd
list=[10,20,30,40,50]
myvar=pd.Series(list,index=["apple","bananna","mangos","pine apple","cherrys"])
print(myvar)

x    1
y    2
z    3
dtype: int64
apple         10
bananna       20
mangos        30
pine apple    40
cherrys       50
dtype: int64

In [80]:
import pandas as pd
list= {"ferrary":1, "volvo":2, "audi":3}
myvar=pd.Series(list)
print(myvar)

ferrary    1
volvo      2
audi       3
dtype: int64

In [85]:
import pandas as pd
calories={"day1": 420,"day2":220,"day3":120}
myvar=pd.Series(calories)
print(myvar)


import pandas as pd
calories={"day1": 420,"day2":220,"day3":120}
myvar=pd.Series(calories,index=["day1","day2","day3"])
print(myvar)

day1    420
day2    220
day3    120
dtype: int64
day1    420
day2    220
day3    120
dtype: int64

In [88]:
#  data frames
import pandas as pd
dataset={'calories':[420,220,120],'duration':[50,20,10]}
myvar=pd.DataFrame(dataset,index=[1,2,3])
print(myvar)

   calories  duration
1       420        50
2       220        20
3       120        10

##  pandas data frame

## what is data frame

a pandas data frame is a 2 dimentional datastructure,like a 2 dimentional array, or table with rows and columns

In [95]:
import pandas as pd
data={'cars':['BMW','AUDI','FERRARI'],'MILAGE':[25,35,45]}
df=pd.DataFrame(data)
print(df)
print(df.loc[0])
print(df.loc[2])

      cars  MILAGE
0      BMW      25
1     AUDI      35
2  FERRARI      45
cars      BMW
MILAGE     25
Name: 0, dtype: object
cars      FERRARI
MILAGE         45
Name: 2, dtype: object

## pandas read csv

In [104]:
import pandas as pd
df=pd.read_csv('C:\\Users\\HP\\Desktop\\RPROGRAMWORK\\pavantextwithXMLfile.csv')
print(df)

   s.no  ID      NAME  SALARY   STARTDATE        DEPT
0     1   1      Rick  623.30  01-01-2012          IT
1     2   2       Dan  515.20   9/23/2013  Operations
2     3   3  Michelle  611.00  11/15/2014          IT
3     4   4      Ryan  729.00  05-11-2014          HR
4     5   5      Gary  843.25   3/27/2015     Finance
5     6   6      Nina  578.00   5/21/2013          IT
6     7   7     Simon  632.80   7/30/2013  Operations
7     8   8      Guru  722.50   6/17/2014     Finance

## read json

In [103]:
import pandas as pd
df=pd.read_json('E:\\DATA SCINECE\\DATA SETS\\JSON FILE CONVERTED INTO XML.xml')
print(df)

   ID      Name  Salary   StartDate        Dept
0   1      Rick  623.30    1/1/2012          IT
1   2       Dan  515.20   9/23/2013  Operations
2   3  Michelle  611.00  11/15/2014          IT
3   4      Ryan  729.00   5/11/2014          HR
4   5      Gary  843.25   3/27/2015     Finance
5   6      Nina  578.00   5/21/2013          IT
6   7     Simon  632.80   7/30/2013  Operations
7   8      Guru  722.50   6/17/2014     Finance

In [105]:
import pandas as pd
df={ 
   "ID":["1","2","3","4","5","6","7","8" ],
   "Name":["Rick","Dan","Michelle","Ryan","Gary","Nina","Simon","Guru" ],
   "Salary":["623.3","515.2","611","729","843.25","578","632.8","722.5" ],
   
   "StartDate":[ "1/1/2012","9/23/2013","11/15/2014","5/11/2014","3/27/2015","5/21/2013",
      "7/30/2013","6/17/2014"],
   "Dept":[ "IT","Operations","IT","HR","Finance","IT","Operations","Finance"]
}
data=pd.DataFrame(df)
print(data)

  ID      Name  Salary   StartDate        Dept
0  1      Rick   623.3    1/1/2012          IT
1  2       Dan   515.2   9/23/2013  Operations
2  3  Michelle     611  11/15/2014          IT
3  4      Ryan     729   5/11/2014          HR
4  5      Gary  843.25   3/27/2015     Finance
5  6      Nina     578   5/21/2013          IT
6  7     Simon   632.8   7/30/2013  Operations
7  8      Guru   722.5   6/17/2014     Finance

# analyzing dataframe 
### viewing the data

One of the most used method for getting a quick overview of the DataFrame, is the head() method.

The head() method returns the headers and a specified number of rows, starting from the top.

In [108]:
import pandas as pd
df=pd.read_csv('C:\\Users\\HP\\Desktop\\RPROGRAMWORK\\pavantextwithXMLfile.csv')
print(df.head) #### FIRST FIVE ROWS OF DATA

<bound method NDFrame.head of    s.no  ID      NAME  SALARY   STARTDATE        DEPT
0     1   1      Rick  623.30  01-01-2012          IT
1     2   2       Dan  515.20   9/23/2013  Operations
2     3   3  Michelle  611.00  11/15/2014          IT
3     4   4      Ryan  729.00  05-11-2014          HR
4     5   5      Gary  843.25   3/27/2015     Finance
5     6   6      Nina  578.00   5/21/2013          IT
6     7   7     Simon  632.80   7/30/2013  Operations
7     8   8      Guru  722.50   6/17/2014     Finance>

In [109]:
print(df.tail())   # LAST FIVE ROWS OF DATAFRAME

   s.no  ID   NAME  SALARY   STARTDATE        DEPT
3     4   4   Ryan  729.00  05-11-2014          HR
4     5   5   Gary  843.25   3/27/2015     Finance
5     6   6   Nina  578.00   5/21/2013          IT
6     7   7  Simon  632.80   7/30/2013  Operations
7     8   8   Guru  722.50   6/17/2014     Finance

In [112]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   s.no       8 non-null      int64
 1   ID         8 non-null      int64
 2   NAME       8 non-null      object
 3   SALARY     8 non-null      float64
 4   STARTDATE  8 non-null      object
 5   DEPT       8 non-null      object
dtypes: float64(1), int64(2), object(3)
memory usage: 512.0+ bytes
None

# pandas cleaning data
## remove rows

In [120]:
import pandas as pd
df=pd.read_csv('C:\\Users\\HP\\Desktop\\dirty_data_for_python_datacleaning_process.csv')
print(df)
print(df.head())
print(df.tail())
print(df.info())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0
   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
    Duration          Date  Pulse  Maxpulse  Calories
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

In [121]:
new_df=df.dropna()
print(new_df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [123]:
import pandas as pd
# #taking dirty dat
df=pd.read_csv('C:\\Users\\HP\\Desktop\\dirty_data_for_python_datacleaning_process.csv')
# removing dirty in  the above data
new_df=df.dropna()
print(new_df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [131]:
## printing top 5 rows of data
print(new_df.head())

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [130]:
#printing bottom 5 data rows
print(new_df.tail())

    Duration          Date  Pulse  Maxpulse  Calories
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [138]:
import pandas as pd 

df=pd.read_csv("C:\\Users\\HP\\Desktop\\dirty_data_for_python_datacleaning_process.csv")
df.dropna(inplace=True)
print(df.to_string())
print(df.info())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  29 non-null     int64
 1   Date      29 non-null     object
 2   Pulse     29 non-null     int64
 3   Maxpulse  29 non-null     int64
 4   Calories  29 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

In [141]:
import pandas as pd

df=pd.read_csv("C:\\Users\\HP\\Desktop\\dirty_data_for_python_datacleaning_process.csv")
df.dropna(inplace=True)

print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

###  replace empty valves (with 777777)

In [144]:
import pandas as pd
df=pd.read_csv("C:\\Users\\HP\\Desktop\\dirty_data_for_python_datacleaning_process.csv")
df.fillna(7777777,inplace=True)
print(df)

    Duration          Date  Pulse  Maxpulse   Calories
0         60  '2020/12/01'    110       130      409.1
1         60  '2020/12/02'    117       145      479.0
2         60  '2020/12/03'    103       135      340.0
3         45  '2020/12/04'    109       175      282.4
4         45  '2020/12/05'    117       148      406.0
5         60  '2020/12/06'    102       127      300.0
6         60  '2020/12/07'    110       136      374.0
7        450  '2020/12/08'    104       134      253.3
8         30  '2020/12/09'    109       133      195.1
9         60  '2020/12/10'     98       124      269.0
10        60  '2020/12/11'    103       147      329.3
11        60  '2020/12/12'    100       120      250.7
12        60  '2020/12/12'    100       120      250.7
13        60  '2020/12/13'    106       128      345.3
14        60  '2020/12/14'    104       132      379.3
15        60  '2020/12/15'     98       123      275.0
16        60  '2020/12/16'     98       120      215.2
17        60  '2020/12/17'    100       120      300.0
18        45  '2020/12/18'     90       112  7777777.0
19        60  '2020/12/19'    103       123      323.0
20        45  '2020/12/20'     97       125      243.0
21        60  '2020/12/21'    108       131      364.2
22        45       7777777    100       119      282.0
23        60  '2020/12/23'    130       101      300.0
24        45  '2020/12/24'    105       132      246.0
25        60  '2020/12/25'    102       126      334.5
26        60      20201226    100       120      250.0
27        60  '2020/12/27'     92       118      241.0
28        60  '2020/12/28'    103       132  7777777.0
29        60  '2020/12/29'    100       132      280.0
30        60  '2020/12/30'    102       129      380.3
31        60  '2020/12/31'     92       115      243.0

#### fill with specific value (88888888)

In [147]:
import pandas as pd
df=pd.read_csv("C:\\Users\\HP\\Desktop\\dirty_data_for_python_datacleaning_process.csv")
df.fillna(88888888,inplace=True)
print(df)

    Duration          Date  Pulse  Maxpulse    Calories
0         60  '2020/12/01'    110       130       409.1
1         60  '2020/12/02'    117       145       479.0
2         60  '2020/12/03'    103       135       340.0
3         45  '2020/12/04'    109       175       282.4
4         45  '2020/12/05'    117       148       406.0
5         60  '2020/12/06'    102       127       300.0
6         60  '2020/12/07'    110       136       374.0
7        450  '2020/12/08'    104       134       253.3
8         30  '2020/12/09'    109       133       195.1
9         60  '2020/12/10'     98       124       269.0
10        60  '2020/12/11'    103       147       329.3
11        60  '2020/12/12'    100       120       250.7
12        60  '2020/12/12'    100       120       250.7
13        60  '2020/12/13'    106       128       345.3
14        60  '2020/12/14'    104       132       379.3
15        60  '2020/12/15'     98       123       275.0
16        60  '2020/12/16'     98       120       215.2
17        60  '2020/12/17'    100       120       300.0
18        45  '2020/12/18'     90       112  88888888.0
19        60  '2020/12/19'    103       123       323.0
20        45  '2020/12/20'     97       125       243.0
21        60  '2020/12/21'    108       131       364.2
22        45      88888888    100       119       282.0
23        60  '2020/12/23'    130       101       300.0
24        45  '2020/12/24'    105       132       246.0
25        60  '2020/12/25'    102       126       334.5
26        60      20201226    100       120       250.0
27        60  '2020/12/27'     92       118       241.0
28        60  '2020/12/28'    103       132  88888888.0
29        60  '2020/12/29'    100       132       280.0
30        60  '2020/12/30'    102       129       380.3
31        60  '2020/12/31'     92       115       243.0

#### Replace Only For a Specified Columns

In [150]:
import pandas as pd 
df=pd.read_csv("C:\\Users\\HP\\Desktop\\dirty_data_for_python_datacleaning_process.csv")
df["Calories"].fillna(999999999,inplace =True)
print(df)

    Duration          Date  Pulse  Maxpulse     Calories
0         60  '2020/12/01'    110       130        409.1
1         60  '2020/12/02'    117       145        479.0
2         60  '2020/12/03'    103       135        340.0
3         45  '2020/12/04'    109       175        282.4
4         45  '2020/12/05'    117       148        406.0
5         60  '2020/12/06'    102       127        300.0
6         60  '2020/12/07'    110       136        374.0
7        450  '2020/12/08'    104       134        253.3
8         30  '2020/12/09'    109       133        195.1
9         60  '2020/12/10'     98       124        269.0
10        60  '2020/12/11'    103       147        329.3
11        60  '2020/12/12'    100       120        250.7
12        60  '2020/12/12'    100       120        250.7
13        60  '2020/12/13'    106       128        345.3
14        60  '2020/12/14'    104       132        379.3
15        60  '2020/12/15'     98       123        275.0
16        60  '2020/12/16'     98       120        215.2
17        60  '2020/12/17'    100       120        300.0
18        45  '2020/12/18'     90       112  999999999.0
19        60  '2020/12/19'    103       123        323.0
20        45  '2020/12/20'     97       125        243.0
21        60  '2020/12/21'    108       131        364.2
22        45           NaN    100       119        282.0
23        60  '2020/12/23'    130       101        300.0
24        45  '2020/12/24'    105       132        246.0
25        60  '2020/12/25'    102       126        334.5
26        60      20201226    100       120        250.0
27        60  '2020/12/27'     92       118        241.0
28        60  '2020/12/28'    103       132  999999999.0
29        60  '2020/12/29'    100       132        280.0
30        60  '2020/12/30'    102       129        380.3
31        60  '2020/12/31'     92       115        243.0

In [163]:
import pandas as pd
df=pd.read_csv("C:\\Users\\HP\\Desktop\\dirty_data_for_python_datacleaning_process.csv")
df["Date"].fillna(2020/12/23,inplace=True)
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45       7.31884    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

### replace using mean,median,mode

In [167]:
import pandas as pd
df=pd.read_csv("C:\\Users\\HP\\Desktop\\dirty_data_for_python_datacleaning_process.csv")
x=df["Calories"].mean()
df["Calories"].fillna(x,inplace=True)
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

In [170]:
import pandas as pd
df=pd.read_csv("C:\\Users\\HP\\Desktop\\dirty_data_for_python_datacleaning_process.csv")
x=df["Calories"].mean()
df["Calories"].fillna(x,inplace=True)
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

### calculate the median and replace any empty values with it

In [171]:
import pandas as pd

df=pd.read_csv("C:\\Users\\HP\\Desktop\\dirty_data_for_python_datacleaning_process.csv")
x=df["Calories"].median()
df["Calories"].fillna(x,inplace=True)

print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     291.2
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     291.2
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

#  Cleaning Datat of Wrong Format

In [179]:
import pandas as pd
df=pd.read_csv("C:\\Users\\HP\\Desktop\\dirty_data_for_python_datacleaning_process.csv")
df["date"]=pd.to_datetime(df["Date"])
print(df)

    Duration          Date  Pulse  Maxpulse  Calories       date
0         60  '2020/12/01'    110       130     409.1 2020-12-01
1         60  '2020/12/02'    117       145     479.0 2020-12-02
2         60  '2020/12/03'    103       135     340.0 2020-12-03
3         45  '2020/12/04'    109       175     282.4 2020-12-04
4         45  '2020/12/05'    117       148     406.0 2020-12-05
5         60  '2020/12/06'    102       127     300.0 2020-12-06
6         60  '2020/12/07'    110       136     374.0 2020-12-07
7        450  '2020/12/08'    104       134     253.3 2020-12-08
8         30  '2020/12/09'    109       133     195.1 2020-12-09
9         60  '2020/12/10'     98       124     269.0 2020-12-10
10        60  '2020/12/11'    103       147     329.3 2020-12-11
11        60  '2020/12/12'    100       120     250.7 2020-12-12
12        60  '2020/12/12'    100       120     250.7 2020-12-12
13        60  '2020/12/13'    106       128     345.3 2020-12-13
14        60  '2020/12/14'    104       132     379.3 2020-12-14
15        60  '2020/12/15'     98       123     275.0 2020-12-15
16        60  '2020/12/16'     98       120     215.2 2020-12-16
17        60  '2020/12/17'    100       120     300.0 2020-12-17
18        45  '2020/12/18'     90       112       NaN 2020-12-18
19        60  '2020/12/19'    103       123     323.0 2020-12-19
20        45  '2020/12/20'     97       125     243.0 2020-12-20
21        60  '2020/12/21'    108       131     364.2 2020-12-21
22        45           NaN    100       119     282.0        NaT
23        60  '2020/12/23'    130       101     300.0 2020-12-23
24        45  '2020/12/24'    105       132     246.0 2020-12-24
25        60  '2020/12/25'    102       126     334.5 2020-12-25
26        60      20201226    100       120     250.0 2020-12-26
27        60  '2020/12/27'     92       118     241.0 2020-12-27
28        60  '2020/12/28'    103       132       NaN 2020-12-28
29        60  '2020/12/29'    100       132     280.0 2020-12-29
30        60  '2020/12/30'    102       129     380.3 2020-12-30
31        60  '2020/12/31'     92       115     243.0 2020-12-31

In [180]:
import pandas as pd
df=pd.read_csv("C:\\Users\\HP\\Desktop\\dirty_data_for_python_datacleaning_process.csv")
df["Date"]=pd.to_datetime(df["Date"])
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [182]:
import pandas as pd 
df=pd.read_csv("C:\\Users\\HP\\Desktop\\dirty_data_for_python_datacleaning_process.csv")
df["Date"]=pd.to_datetime(df["Date"])
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [184]:
import pandas as pd
df=pd.read_csv("C:\\Users\\HP\\Desktop\\dirty_data_for_python_datacleaning_process.csv")
df["Date"]=pd.to_datetime(df["Date"])
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

#  Removing rows

In [187]:
df.dropna(subset=['Date'],inplace=True)
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [189]:
df.dropna(subset=["Date"],inplace=True) 
df.dropna(subset=["Date"],inplace=True)
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [191]:
import pandas as pd
df=pd.read_csv("C:\\Users\\HP\\Desktop\\dirty_data_for_python_datacleaning_process.csv")
df["Date"]=pd.to_datetime(df["Date"])
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [193]:
#remove nat value
df.dropna(subset=["Date"],inplace=True)
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

#  Fixing Wrong Data